  <mdb-navbar class="nav" SideClass="navbar navbar-expand-md navbar-dark" [containerInside]="false">
    <links>  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/main">Create a Meme<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">My Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link" href="http://github.com/beneisenberger" target="_blank">
            <mdb-icon fab icon="github"></mdb-icon>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>

<router-outlet></router-outlet>